.sticky__header{
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99999;
    box-shadow: 3px 3px -8px 3px #ddd;
}

@media only screen and (max-width: 770px){

    .container{
      padding-top: 1.5rem;
    }
    
    .navigation{
        width: 100%;
        height: 100%;
        position: fixed;
        top:0;
        left: 0;
        z-index: 100;
        background-color: #00000084;
        display: none;
    }

    .menu{
        width: 15rem;
        height: 100%;
        position: absolute;
        top: 10;
        right: 0;
        background: #fff;
        z-index: 200;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 10px;
    }

    .shown__menu{
        display: block;
    }
}